.containerMain{
    display: flex;
    justify-content: center;
    font-family: "League Spartan", sans-serif;
}
.background{
    background-color: #212121;
    color: #e3e3e3;
    //background-color: rgba(33, 33, 33,.5);
    //background-image: url('../assets/ashe.jpeg');
}
.max{
    width: 64rem;
    position: relative;
}
.imgBackground{
    position: absolute;
    z-index: -1;
}