.noDatamsg{
    padding: 1rem 2rem;
}
.ranking_table{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    column-gap: .5rem;
    row-gap: .3rem;
    font-size: 1.1rem;
}
.overlay_panel{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1rem 2rem;
    text-align: center;
}